.git
.github
.nx
**/node_modules
**/dist
**/build
**/coverage
**/.astro
**/.strapi
**/.tmp
**/.vite
**/.nuxt
**/.output
examples/strapi-app/database/*.db
examples/strapi-app/public/uploads/*
docs
**/*.md
